<div class="container">

  <div class="row">

    <div class="col-md-11 mb-4">
      <h4 class="mt-4">商品一覧</h4>
    </div>

    <div class="col-md-1">
      <%= link_to new_admin_item_path,class: "align-middle", style: "text-decoration: none;" do %>➕<% end %>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">

        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to admin_item_path(item.id), class: "text-dark" do %><%= item.name %><% end %></td>
              <td><%= item.price.to_s(:delimited) %></td>
              <td><%= item.genre.name %></td>

              <% if item.is_active == true %>
                <td class="text-success">販売中</td>
              <% else %>
                <td class="text-danger">販売停止中</td>
              <% end %>

            </tr>
          <% end %>
          <%= paginate @items %>
        </tbody>

      </table>
    </div>
  </div>
</div>