<table class="table table-bordered">
  <% if admin_signed_in? %>
    <tr>
      <th class="table-light">会員ID</th>
      <td><%= customer.id %></td>
    </tr>
  <% end %>
  <tr>
    <th class="table-light">名前</th>
    <td><%= customer.last_name %> <%= customer.first_name %></td>
  </tr>
  <tr>
    <th class="table-light">名前(カナ)</th>
    <td><%= customer.last_name_kana %> <%= customer.first_name_kana %></td>
  </tr>
  <tr>
    <th class="table-light">住所</th>
    <td>
      〒<%= customer.postal_code.slice(0, 3) + "-" + customer.postal_code.slice(3, 4) %><br>
      <%= customer.address %>
    </td>
  </tr>
  <tr>
    <th class="table-light">電話番号</th>
    <td><%= customer.telephone_number %></td>
  </tr>
  <tr>
    <th class="table-light">メールアドレス</th>
    <td><%= customer.email %></td>
  </tr>
  <% if admin_signed_in? %>
    <tr>
      <th class="table-light">会員ステータス</th>
      <td>
        <% if customer.is_deleted == false %>
          <span class="text-success">有効</span>
        <% else %>
          <span class="text-secondary">退会</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>