<%= form_with model: address, local: true do |f| %>
  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフン不要):" %><br />
    <%= f.text_field :postal_code, autofocus: true, placeholder: "例)3810000" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所(部屋番号まで)" %><br />
    <%= f.text_field :address, autofocus: true, placeholder: "例)長野県長野市〇-〇-〇" %>
  </div>

  <div class="field">
    <%= f.label :name, "宛先:" %><br />
    <%= f.text_field :name, autofocus: true, autofocus: true, placeholder: "例)長野花子" %>
  </div>

  <div class="actions">
    <% if action_name == "edit" %>
      <%= f.submit "変更保存" %>
    <% else %>
      <%= f.submit "新規登録" %>
    <% end %>
  </div>
<% end %>