<% provide(:title, "配送先一覧/登録") %>
<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">配送先一覧 / 登録</p>
  </div>
  <div class="row">
    <div class="col-lg-9">
      <table class="table table-bordered">
        <thead>
          <tr class="bg-light">
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛先</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code.slice(0, 3) + "-" + address.postal_code.slice(3, 4) %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td class="text-center">
                <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
                <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <%= paginate @addresses %>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <% if @address.errors.any? %>
            <div id="error_explanation">
              <h3>入力内容を確認して下さい</h3>
            </div>
          <% end %>
      <%= render 'public/addresses/form', address: @address %>
    </div>
  </div>
</div>