<h2>会員新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :last_name, "名前(姓):" %><br />
    <%= f.text_field :last_name, autofocus: true, placeholder: "例)長野" %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名前(名):" %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder: "例)花子" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "名前(セイ):" %><br />
    <%= f.text_field :last_name_kana, autofocus: true, placeholder: "例)ナガノ" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "名前(メイ):" %><br />
    <%= f.text_field :first_name_kana, autofocus: true, placeholder: "例)ハナコ" %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフン不要):" %><br />
    <%= f.text_field :postal_code, autofocus: true, placeholder: "例)3810000" %>
  </div>

  <div class="field">
    <%= f.label :address, "住所(部屋番号まで):" %><br />
    <%= f.text_field :address, autofocus: true, placeholder: "例)長野県長野市〇-〇-〇" %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号(ハイフン不要):" %><br />
    <%= f.text_field :telephone_number, autofocus: true, placeholder: "例)09000000000" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス:" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例)nagano@cake.jp" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード(6文字以上):" %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力して下さい" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認):" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワードを入力して下さい" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= link_to "ログイン", new_session_path(resource_name) %>
