<div class="container">
  <h3>注文情報入力画面（支払い方法・配送先の選択）</h3>
  <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
  
    <div class="form-group">
      <%= f.label :配送先宛名 %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :配送先郵便番号 %><br>
      <%= f.text_field :postal_code, class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :配送先住所 %><br>
      <%= f.text_area :address, class:"form-control" %>
    </div>
  
    <!--ここに送料入る-->
    <!--ここに請求額入る-->
  
    <div class="form-group">
      <%= f.label :支払い方法選択 %><br>
      <%= f.select :payment_method, options_for_select(Order.payment_methods.keys)  %>
    </div>
  
    <%= f.submit "確認画面へ進む", class:"btn btn-success" %>
  
  <% end %>
  
</div>
