<div class="container mt-5">
  <h4>・注文情報入力</h4>
  <%= form_with(model: @order, local: true, url: orders_confirm_path, method: :post) do |f| %>
    <div class="row mb-3">
      <div class="col-md-4">
        <table class="table table-bordered">
          <tr>
            <th>支払い方法</th>
            <td><%= f.select :payment_method, options_for_select(Order.payment_methods.keys)  %></td>
          </tr>
        </table>
      </div>
    </div>

    <h4>・配送先の選択</h4>
    <div class="col-md-10">
      <div class="row mb-4">
        <table class="table table-bordered">
          <tr>
            <th>
              <%= f.radio_button :address_number,1,checked: "checked" %> あなたの住所
            </th>
            <td>
              <%= current_customer.last_name %><%= current_customer.first_name %>
            　<%= current_customer.postal_code %>
            　<%= current_customer.address %>
            </td>
          </tr>
        </table>
      </div>
      <div class="row mb-4">
        <table class="table table-bordered">
          <tr>
            <th>
              <%= f.radio_button :address_number,2,checked: "checked" %> 登録されている住所
            </th>
            <td>
              <%= f.collection_select :address_id, Address.all, :id, :address %>
            </td>
          </tr>
        </table>
      </div>
      <div class="row">
        <table class="table table-bordered">
          <tr>
            <th>
              <%= f.radio_button :address_number,3,checked: "checked" %>新しい住所
            </th>
          </tr>
          <tr>
            <th>
              <%= f.label :配送先宛名 %>
            </th>
            <td>
              <%= f.text_field :name, class:"form-control" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :配送先郵便番号 %>
            </th>
            <td>
              <%= f.text_field :postal_code, class:"form-control" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :配送先住所 %>
            </th>
            <td>
              <%= f.text_field :address, class:"form-control" %>
            </td>
          </tr>
          
        </table>
      </div>
    </div>
   <%= f.submit "確認画面へ進む", class:"btn btn-success" %>
  <% end %>
</div>
