<% provide(:title, "注文情報入力") %>
<div class="container">
  <div class="row mx-auto">
    <p class="h4 mt-4 mb-5">注文情報入力</p>
  </div>
  <%= form_with(model: @order, local: true, url: orders_confirm_path, method: :post) do |f| %>
    <div class="col-md-8">
      <p class="h5">支払方法</p>
      <% if flash[:ale] %>
        <div class="flash h5 mt-3 text-danger">
          <%= flash[:ale] %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.select :payment_method, options_for_select(Order.payment_methods.keys),
                      include_blank: "＊お選びください＊",
                      class: 'selectpicker form-control' %>
      </div>
    </div>
    <div class="col-md-8 my-3">
      <p class="h5">配送先の選択</p>
      <table class="table">
        <thead>
          <tr>
            <th><%= f.radio_button :address_number, 1, checked: @radio_check1, id: 'button1' %> あなたの住所</th>
            <th><%= f.radio_button :address_number, 2, checked: @radio_check2, id: 'button2' %> 登録されている住所</th>
            <th><%= f.radio_button :address_number, 3, checked: @radio_check3, id: 'button3' %>新しい住所</th>
          </tr>
        </thead>
      </table>
      <% if flash[:alert] %>
        <div class="flash h5 mt-3 text-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div id="p1">
        <%= current_customer.last_name %><%= current_customer.first_name %>
      　〒<%= current_customer.postal_code.slice(0, 3) %>-<%= current_customer.postal_code.slice(3, 4) %>
      　<%= current_customer.address %>
      </div>
      <div id="p2">
        <span>＊登録されている中からお選びください＊</span><br>
        <%= f.collection_select :address_id, current_customer.addresses, :id, :address_all,
                                include_blank: "＊お選びください＊",
                                class: 'selectpicker form-control' %>
      </div>
      <div id="p3">
        <span>＊ご記入下さい＊</span><br>
        <div class="form-group">
          <%= f.label :name, "配送先宛名" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :postal_code, "配送先郵便番号" %>
          <%= f.text_field :postal_code, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :address, "配送先住所" %>
          <%= f.text_field :address, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="col-md-8 d-flex justify-content-center">
      <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>

	// 初期表示を非表示にする
	$('#p1').hide();
	$('#p2').hide();
	$('#p3').hide();

	<% if @radio_check1 == "checked" %>
	  $('#p1').show();
	<% elsif @radio_check2 == "checked" %>
	  $('#p2').show();
	<% else %>
	  $('#p3').show();
	<% end %>

	$("#button1").click(function() {
		// 表示する
		$("#p1").show();
		$("#p2").hide();
		$("#p3").hide();
	});

	$("#button2").click(function() {
		// 非表示にする
		$("#p1").hide();
		$("#p3").hide();
		$("#p2").show();
	});

	$("#button3").click(function() {
		// 非表示にする
		$("#p1").hide();
		$("#p2").hide();
		$("#p3").show();
	});

// 	reload対策
	$(function(){
	  let path = location.pathname;
    let pattern = "orders/confirm"
    if(path.match(pattern)) history.replaceState(null,null,"/orders/new");
	});
</script>

