<% provide(:title, "商品詳細") %>
<div class="container">

<div class="text-danger flash h5 mt-3">
  <%= flash[:alert] %>
</div>

  <div class="row mt-4 pt-4">
    <div class="col-md-5">
      <%= attachment_image_tag @item, :image, size: "280x280", class: "rounded-circle" %>
    </div>

    <div class="col-md-5">
      <h4 class="mb-4 mt-2 font"><strong><%= @item.name %></strong></h4>
      <p class="mb-4 font"><%= @item.introduction %></p>
      <p class="mb-4 font">¥<%= ((@item.price * 1.1).floor).to_s(:delimited) %><small>(税込)</small></p>


      <%= form_with model: @cart_items, url: cart_items_path, local: true do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, options_for_select((1..20).to_a), include_blank: "個数選択" %>
        <%= f.submit 'カートに入れる', class: "btn btn-success ml-4" %>
      <% end %>

    </div>
  </div>
</div>