<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm bg-secondary">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to 'NAGANO CAKEðŸŽ‚', root_path, class: "navbar-brand p-3" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navgation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                  <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', customers_my_page_path(current_customer.id), class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'å•†å“ä¸€è¦§', items_path, class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ã‚«ãƒ¼ãƒˆ', cart_items_path, class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %>
                </li>

              <% else %>

                <li class="nav-item">
                  <%= link_to 'About', about_path, class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'å•†å“ä¸€è¦§', items_path, class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'æ–°è¦ç™»éŒ²', new_customer_registration_path, class: "nav-link text-dark" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_customer_session_path, class: "nav-link text-dark" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
