<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Londrina+Shadow" rel="stylesheet">
  </head>

  <body>
    <header class="shadow-sm" style="background: #FFFFCC;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to 'NAGANO CAKE 🍰', root_path, class: "head navbar-brand p-3 rounded-pill mt-2" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navgation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav ml-auto">

              <% if customer_signed_in? %>
                <% if current_customer.is_deleted == false %>
                  <li class="nav-item">
                  <%= link_to 'マイページ', customers_my_page_path(current_customer.id), class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to '商品一覧', items_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'カート', cart_items_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item nav-link text-success">
                  ログイン中：<%= current_customer.last_name %><small>さん</small>
                </li>
                <% else %>
                  <li class="nav-item">
                  <%= link_to 'About', about_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to '商品一覧', items_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to '新規登録', new_customer_registration_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ログイン', new_customer_session_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>
                <% end %>


              <% else %>


                <li class="nav-item">
                  <%= link_to 'About', about_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to '商品一覧', items_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to '新規登録', new_customer_registration_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ログイン', new_customer_session_path, class: "nav-link text-dark tab rounded-pill" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer class="footer h4 text-center" style="height: 80px; line-height: 80px;">NAGANO CAKE 🍰</footer>
  </body>
</html>
